.page {
  color: whitesmoke;
}

#generator {
  text-align: center;
}

#elixcalc {
  text-align: center;
}

#deck {
  text-align: center;
}

#detail {
  text-align: center;
}

div h1 {
  font-family: "Bangers", cursive;
}
